[submodule "Linux: get_next_line"]
	path = Fdf/Linux
	url = https://github.com/yJuste/Just_Get_Next_Line
[submodule "Linux: Printf_fd"]
	path = Fdf/Linux
	url = https://github.com/yJuste/Just_Printf

[submodule "Linux: minilibx_linux"]
	path = Fdf/Linux
	url = https://github.com/yJuste/Just_42


[submodule "macOS: get_next_line"]
	path = Fdf/macOS
	url = https://github.com/yJuste/Just_Get_Next_Line
[submodule "macOS: Printf_fd"]
	path = Fdf/macOS
	url = https://github.com/yJuste/Just_Printf

[submodule "macOS: minilibx_macos"]
	path = Fdf/Linux
	url = https://github.com/yJuste/Just_42
